@model HeadHunter.ViewModels.CategoryAndVacancyViewModel
@{ ViewData["Title"] = "Add new vacancy";
    Layout = "_Layout"; }

<h2>Fill out the form to add a vacancy</h2>
<div class="row">
    <div class="vacancy_add_form col-md-6">
        <form asp-action="Add" method="post">
            
            @{ 
                await Html.RenderPartialAsync("_VacancyFormPartial", new HeadHunter.ViewModels.CategoryAndVacancyViewModel()
                {
                    Vacancy = new Vacancy(),
                    CategoryList = Model.CategoryList
                });
            }
            <button type="submit">Добавить</button>
        </form>
    </div>
</div>